/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat Alternates", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color:black;
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: #40E0D0;
}




.nav__close{
  display: flex;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
} 
.nav__toggle {
  display: flex;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left .4s;
  }

  .nav__item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform .4s ease-out, visibility .4s;
  }

  .nav__item:nth-child(1) {
    transition-delay: .1s;
  }
  .nav__item:nth-child(2) {
    transition-delay: .2s;
  }
  .nav__item:nth-child(3) {
    transition-delay: .3s;
  }
  .nav__item:nth-child(4) {
    transition-delay: .4s;
  }
  .nav__item:nth-child(5) {
    transition-delay: .5s;
  }
}

.nav__list, 
.nav__social {
  display: flex;
}

.nav__list {
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  position: relative;
  color: #FF6F61;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  transition: opacity .4s;
}

.nav__link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}

.nav__link span {
  position: relative;
  transition: margin .4s;
}

.nav__link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #40E0D0;
  transition: width .4s ease-out;
}

/* Animation link on hover */
.nav__link:hover span {
  margin-left: 2.5rem;
  color: #40E0D0;
}

.nav__link:hover i {
  opacity: 1;
  visibility: visible;
  color: #40E0D0;
}

.nav__link:hover span::after {
  width: 100%;
}

/* Sibling fade animation */
.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
  opacity: .4;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__social {
  column-gap: 1rem;

}

.nav__social-link {
  color: #FF6F61;;
  font-size: 1.5rem;
  transition: transform .4s;
}

.nav__social-link:hover {
  transform: translateY(-.25rem);
  color: #40E0D0;
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Animation link when displaying menu */
.show-menu .nav__item {
  visibility: visible;
  transform: translateX(0);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle, 
  .nav__close {
    display: none;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .nav__link i {
    font-size: 1.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }
}

/* Add this to your CSS */
.close {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
}
.nav.show-menu .close {
  display: block;
}


/* Home Section */
.home {
    background: linear-gradient(to right, #E3FDFD, #FFE6FA);
    color: #333333;
    text-align: center;
    padding: 150px 20px;
}

.home h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.2em;
    margin-bottom: 45px;
    margin-top: 36px;
}

.cta-button {
    background: #FF6F61;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
}

.cta-button:hover {
    background: #40E0D0;
    transform: scale(1.1);
}

/* About Section */
.about {
    background: #ffffff;
    color: #333333;
    padding: 60px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.about .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    transition: transform 0.3s;
    cursor: pointer;
}

.about .avatar:hover {
    transform: scale(1.1);
}

.about-text {
    max-width: 600px;
}

.about h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.about p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-top: 30px;
}

/* Internship Section */
.internship {
    background: linear-gradient(to right, #40E0D0, #ffffff);
    color: #333333;
    padding: 60px 20px;
    text-align: center;
}

.internship h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin-bottom: 40px;
}

.internship-card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    perspective: 1000px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.internship-card .front, .internship-card .back {
    position: absolute;
    width: 100%;
    height: 110%;
    backface-visibility: hidden;
    transition: transform 0.6s;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.internship-card h3{
  text-align: center;
  margin-top: 5px;
}


.internship-card p{
  text-align: left;
  margin-top: 5px;
}
.front img{
  height: 147px;
}

.p-spec{
 padding-bottom: 20px;
}

.internship-card .front {
    background: #f8f8f8;
    color: #333333;
}

.internship-card .back {
    background: #ffffff;
    color: #333333;
    transform: rotateY(180deg);
}

.internship-card:hover .front {
    transform: rotateY(-180deg);
}

.internship-card:hover .back {
    transform: rotateY(0);
}

/* Social Media Section */
.social {
    background: #ffffff;
    color: #333333;
    padding: 60px 20px;
    text-align: center;
}

.social h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin-bottom: 40px;
}

.social .social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social .social-icons a {
    color: #333333;
    font-size: 2em;
    margin: 0 10px;
    transition: color 0.3s, transform 0.3s;
}

.social .social-icons a:hover {
    color: #FF6F61;
    transform: scale(1.1
);
}

/* Contact Section */
.contact {
background: #ffffff;
color: #333333;
padding: 60px 20px;
text-align: center;
}

.contact h2 {
font-family: 'Poppins', sans-serif;
font-size: 2em;
margin-bottom: 40px;
}

.contact-form {
max-width: 600px;
margin: 0 auto;
}

.contact-form input, .contact-form textarea {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border: 1px solid #ccc;
border-radius: 5px;
}

.contact-form button {
background: #FF6F61;
color: #ffffff;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background 0.3s, transform 0.3s;
}

.contact-form button
{
background: #40E0D0;
transform: scale(1.1);
}

/* Footer */
.footer {
background: #f8f8f8;
color: #333333;
padding: 20px;
text-align: center;
}